/*layout stuff to make sidebar work*/
:root{
	height:100%;
	overflow:hidden;
}
body{
	display:grid;
	grid-template-areas:
	"nav"
	"ap"
	"ft";
	grid-template-columns:auto;
	grid-template-rows:auto 1fr auto;
	height:100%;
}
#mainnav{
	grid-area:nav;
}
#mainfoot{
	grid-area:ft;
}
/*sidebar - TODO: desktop only*/
#sidebar{
	position:absolute;
	left:0;
	top:4em;/*navbar is 4em high*/
	width:min-content;
	display:flex;
	flex-direction:column;
	align-items:start;/*no stretchy*/
	padding:1em 3em 1em 5em;
}
#sidebar>label{
	white-space:nowrap;
	padding:0.5em;
	color:var(--text-color);
	text-decoration:none;
	font-weight:600;
	cursor:pointer;
}
#sidebar>label:hover,
#sidebar>label.curpage{
	color:var(--accent-color);
}
/*container for details*/
.scrollwrap{
	display:none;
	justify-content:center;
	grid-area:ap;
	overflow:auto;
	/*scroll shadow*/
	background:
		/* Shadow covers */
		linear-gradient(var(--primary-color) 30%, #0000),
		linear-gradient(#0000, var(--primary-color) 70%) 0 100%,
		/* Shadows */
		radial-gradient(farthest-side at 50% 0%, #0002, #0000),
		radial-gradient(farthest-side at 50% 100%, #0002, #0000) 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	background-attachment: local, local, scroll, scroll;
}
.allpage{
	display:flex;
	flex-direction:column;
	min-width:33vw;
	align-items:stretch;
	margin:0 1em 1em 2em;
}
/*detail heading*/
.allpage>details>summary{
	font-size:1.5rem;
	font-weight:bold;
	cursor:pointer;
	position:relative;/*for positioning of markers*/
	padding-right:1.5em;
	margin-top:1em;
}
.allpage>details>summary::-webkit-details-marker,
.allpage>details>summary::marker{
	content:'';/*wtf*/
	display:none;
}
.allpage>details>summary>svg>path{
	transform:rotate(-45deg);
	transform-origin:top;
}
.allpage>details>summary>svg{
	position:absolute;
	right:0;
	top:0.33em;
	height:1em;
	width:1em;
	transform-origin:0 45%;
	transform:scale(1,1);
	transition:transform 0.2s ease;
}
.allpage>details[open]>summary>svg{
	transform:scale(1,-1);
}
/*content in details*/
.allpage>details>.p{
	width:min-content;
	min-width:100%;
	--rotateAway:rotate3d(-1,0,0,-90deg);/*for js*/
	transform:var(--rotateAway);
	transform-origin:0 2em -2em;
	transition:transform 0.2s;
}
.allpage>details[open]>.p{
	transform:rotate3d(-1,0,0,0deg);
}
#table1{
	display:grid;
	border-radius:0.25em;
	overflow:clip;
	grid-gap:1px;
}
#table1>b{
	text-align:right;
	padding:0.25em 0.25em 0.25em 0.5em;
}
#table1>span{
	padding:0.25em 0.5em 0.25em 0.25em;
}
.allpage>details>.p ol{
	padding-left:1.25em;/*let's just hope nobody counts past 9*/
}
/*card images*/
.allpage>details>.p img{
	max-height:20em;
}
.allpage>details>.p .img{
	display:flex;
	max-width:100%;
	width:fit-content;
	margin:2em 0 2em 0;
	outline:solid 1px var(--tertiary-color);
	cursor:zoom-in;
	transition:border-radius 0.2s cubic-bezier(.22,.61,.36,1);
	border-radius:0.5em;
	overflow:hidden;
}
.allpage>details>.p .img:hover{
	border-radius:0;
}
/*fullpage image*/
#modalcontainer{
	display:flex;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:200;
	justify-content:center;
	align-items:center;
	cursor:zoom-out;
	background-color:#0000;
	transition:background-color 0.2s;
}
#modalcontainer.active{
	background-color:#0008;
}
#modalcontainer.inactive{
	display:none;
}
#modalcontainer>img{
	width:85%;
	height:85%;
	object-fit:contain;
	cursor:default;
	transform-origin:top left;
	transform:var(--origintransform);
}
#modalcontainer>img.untransform{
	transform:translate(0px,0px) scale(1,1);
}
#modalcontainer>#modalclose{
	appearance:none;
	position:absolute;
	top:1em;
	right:1em;
	width:2.5em;
	height:2.5em;
	padding:0.5em;
	border:none;
	background-color:#0000;
	color:var(--error-color);
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items:center;
	opacity:0;
	transition:opacity 0.2s;
}
#modalcontainer.active>#modalclose{
	opacity:1;
}
#modalcontainer>#modalclose:hover svg{
	filter:drop-shadow(0 0 1px var(--error-color));
}
/*radios to display/hide 'allpages' */
input[name="pageradios"]{
	display:none;
}
input[name="pageradios"]:checked+.scrollwrap{
	display:flex;
}