/* omnigrid 1 */
#og1{
	display:grid;
	grid-template-columns:2fr 3fr;
	grid-template-rows:0fr 0fr auto 0fr 0fr 0fr;
	grid-gap:1em;
	margin-bottom:2em;
	grid-template-areas:
		"h1  img"
		"h3  img"
		"lnk img"
		"h2  h2 "
		"the the"
		"b   b  ";
}
#og1>h1:first-of-type{
	grid-area:h1;
	margin:1rem 0rem 0.5rem 0;
}
#og1>h3{
	grid-area:h3;
	margin:0;
}
#og1>span:first-of-type{/*download link container*/
	grid-area:lnk;
	display:flex;
	align-items:baseline;
	gap:1em;
}
#og1>img{/*example screenshot*/
	grid-area:img;
	max-width:calc(100% - 1em);
	max-height:100%;
	justify-self:center;
	margin-left:1em;
}
#og1>h1:last-of-type{/*section header for styles*/
	grid-area:h2;
	justify-self:center;
	margin:2rem 0 0 0;
}
#og1>span:last-of-type{/*text at the bottom idk*/
	grid-area:b;
}
/* theme picker */
#themebox{
	grid-area:the;
	display:flex;
	flex-wrap:wrap;
	gap:2em;
	width:100%;
	margin:0.5em 0 0 0;
	justify-content:center;
}
#themebox>div{
	display:flex;
	gap:2em;
	justify-content:center;
	flex-wrap:wrap;
}
#themebox .card{
	height:10em;
	width:15em;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	font-weight:bold;
	background-color:var(--primary-color);
	text-transform:uppercase;
}
#themebox .card.current{
	color:var(--accent-color);
}
#themebox svg{
	height:50%;
}
/* pages 2, 3 and 4 */
.pagetype2{
	display:grid;
	grid-gap:1em;
	grid-template-rows:0fr;
	min-height:30em;
	padding:5em 10%;
}
.pagetype2:nth-of-type(2n+1){
	grid-template-areas:
		"img ."
		"img h"
		"img p"
		"img .";
	grid-template-columns:5fr 3fr;
	justify-items:start;
}
.pagetype2:nth-of-type(2n){
	grid-template-areas:
		". img"
		"h img"
		"p img"
		". img";
	grid-template-columns:3fr 5fr;
	justify-items:end;
}
.pagetype2>img{
	max-width:100%;
	max-height:100%;
	grid-area:img;
	align-self:center;
}
.pagetype2>h2{
	grid-area:h;
	justify-self:start;
}
.pagetype2>p{
	grid-area:p;
	align-self:start;
	margin-top:0;
}
/* responsive design */
@media only screen and (max-width: 60em){
	/* page 1 */
	#og1{
		grid-template-rows:0fr 0fr auto 0fr 0fr 0fr 0fr;
		grid-template-columns:1fr;
		grid-template-areas:
			"h1"
			"h3"
			"img"
			"lnk"
			"h2"
			"the"
			"b";
		
	}
	#og1>img{
		max-height:25vh;
	}
	#og1>h1,
	#og1>h3,
	#og1>span{
		text-align:center;
		justify-content:center;
	}
	#themebox .card{
		height:8em;
		width:12em;
	}
	/* pages 2, 3 and 4 */
	.pagetype2{
		grid-template-areas:
			"h"
			"img"
			"p";
		grid-template-rows:auto auto auto;
		grid-template-columns:auto;
	}
	.pagetype2>h2{
		width:fit-content;
		justify-self:center;
		position:relative;
	}
	.pagetype2>h2::after{
		content:"";
		position:absolute;
		background-color:currentColor;
		border-radius:0.1rem;
		height:0.2rem;
		width:50%;
		bottom:-0.33em;
		left:25%;
	}
}