/* omnigrid 1 */
#og1{
	display:grid;
	grid-template-columns:2fr 3fr;
	grid-template-rows:0fr 0fr auto 0fr 0fr 0fr;
	grid-gap:1em;
	margin-bottom:2em;
}
#og1>h1:first-of-tpye{
	grid-area:1/1/2/2;
	margin:1rem 2rem 0.5rem 0;
}
#og1>h3{
	grid-area:2/1/3/2;
	margin:0;
}
#og1>span:first-of-type{/*download link container*/
	grid-area:3/1/4/2;
	display:flex;
	align-items:baseline;
	gap:1em;
}
#og1>img{/*example screenshot*/
	grid-area:1/2/4/3;
	max-width:100%;
	max-height:100%;
	justify-self:center;
}
#og1>h1:last-of-type{/*section header for styles*/
	grid-area:4/1/5/3;
	justify-self:center;
	margin:2rem 0 0 0;
}
#og1>span:last-of-type{/*text at the bottom idk*/
	grid-area:6/1/7/3;
}
/* theme picker */
#themebox{
	grid-area:5/1/6/3;
	display:flex;
	flex-wrap:wrap;
	gap:2em;
	width:100%;
	margin:0.5em 0 2.5em 0;
}
#themebox>div{
	display:flex;
	gap:2em;
	flex-grow:1;
	justify-content:space-around;
	flex-wrap:wrap;
}
#themebox .card{
	height:10em;
	width:15em;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	font-weight:bold;
}