<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/moodle/lib/guzzlehttp/psr7/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/php-jwt/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/ralouphie/getallheaders/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/guzzlehttp/guzzle/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/guzzlehttp/kevinrob/guzzlecache/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/maxmind/MaxMind/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/guzzlehttp/psr7/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/ralouphie/getallheaders/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/guzzlehttp/guzzle/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/php-jwt/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/guzzlehttp/kevinrob/guzzlecache/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/maxmind/MaxMind/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/phpunit/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/testing" />
        <option value="$PROJECT_DIR$/moodle/lib/ddl/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/dml/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/external/tests" />
        <option value="$PROJECT_DIR$/moodle/favourites/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/form/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/filestorage/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/filebrowser/tests" />
        <option value="$PROJECT_DIR$/moodle/files/tests" />
        <option value="$PROJECT_DIR$/moodle/filter/tests" />
        <option value="$PROJECT_DIR$/moodle/admin/roles/tests" />
        <option value="$PROJECT_DIR$/moodle/cohort/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/grade/tests" />
        <option value="$PROJECT_DIR$/moodle/grade/tests" />
        <option value="$PROJECT_DIR$/moodle/grade/grading/tests" />
        <option value="$PROJECT_DIR$/moodle/grade/import/csv/tests" />
        <option value="$PROJECT_DIR$/moodle/analytics/tests" />
        <option value="$PROJECT_DIR$/moodle/availability/tests" />
        <option value="$PROJECT_DIR$/moodle/backup/controller/tests" />
        <option value="$PROJECT_DIR$/moodle/backup/converter/moodle1/tests" />
        <option value="$PROJECT_DIR$/moodle/backup/moodle2/tests" />
        <option value="$PROJECT_DIR$/moodle/backup/tests" />
        <option value="$PROJECT_DIR$/moodle/backup/util" />
        <option value="$PROJECT_DIR$/moodle/badges/tests" />
        <option value="$PROJECT_DIR$/moodle/blog/tests" />
        <option value="$PROJECT_DIR$/moodle/customfield/tests" />
        <option value="$PROJECT_DIR$/moodle/iplookup/tests" />
        <option value="$PROJECT_DIR$/moodle/course/tests" />
        <option value="$PROJECT_DIR$/moodle/course/format/tests" />
        <option value="$PROJECT_DIR$/moodle/privacy/tests" />
        <option value="$PROJECT_DIR$/moodle/question/engine/tests" />
        <option value="$PROJECT_DIR$/moodle/question/tests" />
        <option value="$PROJECT_DIR$/moodle/question/type/tests" />
        <option value="$PROJECT_DIR$/moodle/question/engine/upgrade/tests" />
        <option value="$PROJECT_DIR$/moodle/cache/tests" />
        <option value="$PROJECT_DIR$/moodle/calendar/tests" />
        <option value="$PROJECT_DIR$/moodle/enrol/tests" />
        <option value="$PROJECT_DIR$/moodle/group/tests" />
        <option value="$PROJECT_DIR$/moodle/message/tests" />
        <option value="$PROJECT_DIR$/moodle/notes/tests" />
        <option value="$PROJECT_DIR$/moodle/tag/tests" />
        <option value="$PROJECT_DIR$/moodle/rating/tests" />
        <option value="$PROJECT_DIR$/moodle/repository/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/userkey/tests" />
        <option value="$PROJECT_DIR$/moodle/user/tests" />
        <option value="$PROJECT_DIR$/moodle/webservice/tests" />
        <option value="$PROJECT_DIR$/moodle/mnet/tests" />
        <option value="$PROJECT_DIR$/moodle/completion/tests" />
        <option value="$PROJECT_DIR$/moodle/comment/tests" />
        <option value="$PROJECT_DIR$/moodle/search/tests" />
        <option value="$PROJECT_DIR$/moodle/competency/tests" />
        <option value="$PROJECT_DIR$/moodle/my/tests" />
        <option value="$PROJECT_DIR$/moodle/auth/tests" />
        <option value="$PROJECT_DIR$/moodle/blocks/tests" />
        <option value="$PROJECT_DIR$/moodle/login/tests" />
        <option value="$PROJECT_DIR$/moodle/plagiarism/tests" />
        <option value="$PROJECT_DIR$/moodle/portfolio/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/editor/tests" />
        <option value="$PROJECT_DIR$/moodle/rss/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/table/tests" />
        <option value="$PROJECT_DIR$/moodle/h5p/tests" />
        <option value="$PROJECT_DIR$/moodle/lib/xapi/tests" />
        <option value="$PROJECT_DIR$/moodle/contentbank/tests" />
        <option value="$PROJECT_DIR$/moodle/payment/tests" />
        <option value="$PROJECT_DIR$/moodle/reportbuilder/tests" />
        <option value="$PROJECT_DIR$/moodle/admin/presets/tests" />
        <option value="$PROJECT_DIR$/moodle/admin/tests" />
      </list>
    </option>
  </component>
</project>